.CFUserTextEncoding
.DS_Store
.TI-trace
.Trash
.cache
.codetogether
.ctsystem
.eclipse
.gradle
.lesshst
.lldb
.local
.mailcap
.mime.types
.oracle_jre_usage
.p2
.ssh
.stm32cubeide
.stm32cubemx
.stmcube
.stmcufinder
.swiftpm
.ti
.viminfo
.vscode
.warp
.webclipse
.zprofil
.zprofile
.zsh_history
.zsh_sessions
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
README.md
STM32Cube
matlab_crash_dump.3616-1
packer.nvim
ti
.config/iterm2
.config/nvim/plugin

